.policy {
    &__title {
        margin-top: 25px;
        font-size: 24px;
    }
    &__subtitle {
        margin-top: 35px;
        font-size: 20px;
    }
    &__descr {
        margin-top: 25px;
    }
    &__item {
        margin-top: 15px;
        padding-left: 25px;
    }
    &__text {
        font-size: 17px;
        line-height: 21px;
    }
}